---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    {/*<span class="animate text-6xl">🦄</span> */}
    <h1 class="animate font-semibold text-black dark:text-white">
      I'm J. C. Vieth 
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <h2 class="animate">
             Seattle based digital leader with a passion for full stack CX strategy, UX technology and product design. I focus on creative communication through experience and technology. I'm just as comfortable presenting in front of a client as I am behind a desk.
          </h2>
          <h3 class="animate">
            I’m a strategic leader and creator with a proven ability to drive end-to-end delivery of intuitive digital experiences, adept at operating both as a hands-on individual contributor and as a team member and leader. I can manage large cross-functional teams on a project level and smaller direct-report groups creating user-centered solutions that align business goals with UX/UI best practices, accessibility standards, and scalable technology.
          </h3>
          <h3 class="animate">
            I have over two decades of experience supporting both B2B and B2C organizations helping grow their digital presence through thoughtful design, strategy, architecture, and technical implementation. I bring expertise in project oversight, budgeting, documentation, and stakeholder alignment—delivering value from concept through launch.
          </h3>
          <h3 class="animate text-xl">
            Oh, and I own a nimble digital consultancy in the Pacific Northwest called
            <Link href="https://monodon.studio" aria-label="Monodon Studio" external>
              Monodon
            </Link>. 
          </h3>
        </article>
      </section>
      {/* <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section> */}
            <section class="animate space-y-6 font-serif">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h3 class="font-semibold text-black dark:text-white">
            Where I've been recently
          </h3>
          <Link href="/work">
            Take a look at my full past experience
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>
      <section class="animate space-y-6 font-serif">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h3 class="font-semibold text-black dark:text-white">
            Some past projects I think are worth noting 
          </h3>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>



      <section class="animate space-y-4 font-serif">
        <h3 class="font-semibold text-black dark:text-white">
          Let's Connect
        </h3>
         {/*
        <article>
          <p>
            If you want to get in touch with me about something or just to say hi,
            reach out on social media or send me an email.
          </p>
        </article>
         */}
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
